<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap" rel="stylesheet">

    <!-- Bootstrap Sass -->
    <link rel="stylesheet" href="../sass/custom.css">
    
    <!-- Bootstrap Original 
      <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> 
    -->

    <title>Login</title>
</head>
<body>
  <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" >
        <div class="container container-fluid">
          <a class="navbar-brand" href="../index.html">Todo Rutas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Parques</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contacto
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Contacto</a></li>
                  <li><a class="dropdown-item" href="#">Sobre nosotros</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Centro de ayuda</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <br><br><br><br>
    
    <div class="container text-center">
        <h1>Mantenedor</h1>
    </div>

    <footer>
      <!-- Grid container -->
      <div class="container p-4 bg-secondary text-center text-lg-start">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-light">Acceso empleados</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-light">Empleados</a>
              </li>
              <li>
                <a href="#!" class="text-light">Afiliados</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-light">Parques</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-light">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-light">Link 2</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-light">Legal</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-light">Políticas de privacidad</a>
              </li>
              <li>
                <a href="#!" class="text-light">Leyes respecto al servicio</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-light">Nosotros</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-light">Nuestro equipo</a>
              </li>
              <li>
                <a href="#!" class="text-light">Contacto</a>
              </li>
              <li>
                <a href="#!" class="text-light">Centro de ayuda</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3 bg-success text-light">
        © 2022 Todo Rutas 
        <a class="text-light" href="#!">Política de privacidad</a>
      </div>
      <!-- Copyright -->
    </footer>

    <script src="../node_modules/@popperjs/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>