<%- layout('layouts/main')  %> 

<div class="row">
  <h1 class="display-4 text-center">Editar Parque</h1>
</div>

<%- include('navTabs') %> 

<h1 class="display-4">Parque a editar: <%=parque.nombre%></h1>