<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a
      class="nav-link <%= (title === 'Signup')?'active':'' %>"
      data-mdb-toggle="tab"
      href="/empleado/agregar"
      role="tab"
      aria-selected="<%= (title === 'Signup')?'true':'false' %>"
      >Agregar empleado</a
    >
  </li>
</ul>