<!-- Tabs navs -->
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a
      class="nav-link <%= (title === 'Agregar Empleado')?'active':'' %>"
      data-mdb-toggle="tab"
      href="/empleado/agregar"
      role="tab"
      aria-selected="<%= (title === 'Agregar Empleado')?'true':'false' %>"
      >Agregar</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%= (title === 'Lista Empleados')?'active':'' %>"
      data-mdb-toggle="tab"
      href="/empleado/listar"
      role="tab"
      aria-selected="<%= (title === 'Lista Empleados')?'true':'false' %>"
      >Listar</a
    >
  </li>
</ul>