<%- layout('layouts/main')  %> 
    
<div class="container text-center">
    <h1>Agregar Parque</h1>
</div>

<div class="container">
  <div class="row">
    <h1 class="display-4">Agregar Parque</h1>
  </div>
</div>