<%- layout('layouts/main')  %> 

<script>
  if('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(async position => {
      const lat = position.coords.latitude;
      const long = position.coords.longitude;

      const coordenadas = { long, lat };
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(coordenadas)
      };
      const response = await fetch('/guardarCoords', options);
      //const json = await response.json();
      //console.log(json);
    });
  } else {
    alert('Geolocalización no está disponible en su navegador');
  }
</script>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner rounded shadow-lg">
    <div>
      <img src="images/index.jpg" class="d-block w-100" alt="CerroManquehue" height="300px" style="filter: brightness(20%)">
      <div class="carousel-caption">
        <h2 style="font-size:60px">Todo Rutas</h2>
        <a class="btn btn-lg btn-primary text-light"  href="/parques">Ver parques</a>
      </div>
    </div>
  </div>
</div>

<!-- Recomendados -->
<div class="container mt-5">
  <h3 class="h2 text-dark text-center">Recomendados</h3>

  <div class="row mb-5">
    <div class="col-12 col-md-4">
      <div class="card bg-secondary shadow">
        <img src="images/manqImg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cerro Manquehue</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ea hic molestias animi, illum dicta, id consequuntur amet aspernatur minima ullam non sunt laboriosam voluptate perferendis! Numquam iusto illum officiis.<p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Ver más...</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card bg-secondary shadow">
        <img src="images/papoImg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Monumento Natural Paposo Norte</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ea hic molestias animi, illum dicta, id consequuntur amet aspernatur minima ullam non sunt laboriosam voluptate perferendis! Numquam iusto illum officiis.<p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Ver más...</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card bg-secondary shadow">
        <img src="images/torresImg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Torres del Paine</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ea hic molestias animi, illum dicta, id consequuntur amet aspernatur minima ullam non sunt laboriosam voluptate perferendis! Numquam iusto illum officiis.<p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Ver más...</a>
        </div>
      </div>
    </div>

</div>