<%- layout('layouts/main')  %> 

<script>
  if('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition(async position => {
      const lat = position.coords.latitude;
      const long = position.coords.longitude;

      const coordenadas = { long, lat };
      const options = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(coordenadas)
      };
      const response = await fetch('/guardarCoords', options);
      //const json = await response.json();
      //console.log(json);
    });
  } else {
    alert('Geolocalización no está disponible en su navegador');
  }
</script>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner rounded shadow-lg">
    <div>
      <img src="images/index.jpg" class="d-block w-100" alt="CerroManquehue" height="300px" style="filter: brightness(20%)">
      <div class="carousel-caption">
        <h2 style="font-size:60px">Todo Rutas</h2>
        <a class="btn btn-lg btn-primary text-light"  href="/parques">Ver parques</a>
      </div>
    </div>
  </div>
</div>

<!-- Recomendados -->
<div class="container mt-5">
  <h3 class="h2 mb-4 text-dark text-center">Recomendados</h3>

  <div class="row mb-5">
    <div class="col-12 col-md-4">
      <div class="card bg-secondary shadow">
        <img src="images/manqImg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cerro Manquehue</h5>
          <p class="card-text">El cerro Manquehue es un ícono dentro de las rutas de trekking en Santiago. Su privilegiada posición dentro de la ciudad sumado a la increíble vista desde su cumbre, dan como resultado que es una de las 10 rutas de más visitadas en la Región Metropolitana. Todos los días de la semana y a cualquier hora, es posible encontrarnos con gente subiendo y bajando el Manquehue.<p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Ver más...</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card bg-secondary shadow">
        <img src="images/torresImg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Torres del Paine</h5>
          <p class="card-text">El Parque Nacional Torres de Paine es el parque nacional más importante de Chile. Se encuentra cerca de Los Andes, en el externo sur de Chile, en la Región de Magallanes y la Antártica chilena. Está situado a 154 kilómetros al noroeste de Puerto Natales y a 399 kilómetros de Punta Arenas. El parque está ubicado en el lado este del Glaciar Grey.<p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Ver más...</a>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-4">
        <div class="card bg-secondary shadow">
          <img src="images/papoImg.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Monumento Natural Paposo Norte</h5>
            <p class="card-text">La unidad Monumento Natural Paposo Norte está ubicada administrativamente en la costa de la región, provincia y comuna de Antofagasta. Se ubica a 65 km al norte del poblado de Paposo. Su superficie es de 7.915.41 hectáreas. Fue creada el 26 de diciembre del 2013<p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Ver más...</a>
          </div>
        </div>
      </div>
</div>