<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="container text-center">
        <h1>Mantenedor</h1>
    </div>
    
    <div class="container">
      <div class="row">
        <ol class="col-12 breadcrumb">
          <li class="breadcrumb-item"><a href="#">Agregar Parque</a></li>
           <!-- Filtros <li class="breadcrumb-item"><a href="#">Modificar Parque</a></li>-->
          <li class="breadcrumb-item"><a href="#">Listar Parques</a></li>
          <li class="breadcrumb-item"><a href="#">Listar Empleados</a></li>
          <li class="breadcrumb-item"><a href="#">Logout</a></li>
        </ol>
      </div>
      <form action="#" class="row g-4 mb-3 justify-content">
        <div class="col-5">
          <input class="form-control" type="text" placeholder="Buscar...">
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-primary">Buscar</button>
        </div>
    
      </form>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>