<!-- Footer -->
<footer>
    <div class="container p-4 bg-secondary text-center text-lg-start">
      <div class="row">
        <!-- Columna 1 -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-dark">Acceso a empleados</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="/login" class="text-dark">Empleados</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Afiliados</a>
            </li>
          </ul>
        </div>
  
        <!-- Columna 2 -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-dark">Parques</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
          </ul>
        </div>
  
        <!-- Columna 3 -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-dark">Legal</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Políticas de privacidad</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Leyes respecto al servicio</a>
            </li>
          </ul>
        </div>
  
        <!-- Columna 4 -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase text-dark">Nosotros</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Nuestro equipo</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Contacto</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Centro de ayuda</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3 bg-dark text-light">
      © 2022 Todo Rutas 
      <a class="text-light" href="#!">Política de privacidad</a>
    </div>
  </footer>