<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container container-fluid">
        <a class="navbar-brand" href="/">Todo Rutas</a>
        
        <!-- Toggle button para movil -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="mainNav">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link <% if (title === 'Parques') { %>active<% } %> " aria-current="page" href="/parques">Parques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <% if (title === 'About') { %>active<% } %> " aria-current="page" href="/about">Sobre nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <% if (title === 'Ayuda') { %>active<% } %> " aria-current="page" href="/help">Centro de ayuda</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>