$font-family-sans-serif: 'Nunito', sans-serif;

$primary : #00bb4e;
$secondary: #f0f0f0;

$customlogin: #009100;

body {
  padding-top: 65px;
}


@import "../../../node_modules/bootstrap/scss/bootstrap";


// Para resetear
// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";
// @import "../../../node_modules/bootstrap/scss/root";

// @import "../../../node_modules/bootstrap/scss/reboot";
// @import "../../../node_modules/bootstrap/scss/type";